---
BasedOnStyle: Mozilla
ColumnLimit: 120
AlignAfterOpenBracket: Align
AlignEscapedNewlines: Right
AllowAllConstructorInitializersOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
IncludeBlocks: Preserve
SortIncludes: 'false'
SortUsingDeclarations: 'false'
SpaceInEmptyParentheses: 'false'
SpacesInSquareBrackets: 'false'
BreakInheritanceList: AfterColon
AllowShortEnumsOnASingleLine: 'false'
...
